@font-face{
    font-family: 'basic';
    src: url('fonts/Archer-Book-Pro.otf');
    
}
h1{
    font-family: basic;
    font-size: 50px;
}
h2{
    font-family: basic;
    font-size: 25px;
}
h3{
    font-family: basic;
    font-size: 25px;
}
p{
    font-family: basic;
    font-size: 25px;
}

head{text-align: center;}
body{text-align: center;}
h1{color: red;
}
h2{color: white;}
h3{color: white;}
p{color: white;}
body{background-color:#001299;}
a:hover{
  font-size: 100px;
  letter-spacing: 100px;
